.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img{
  height: 700px;
  width: 900px;
}

.container {
  position: relative;
}

.top-left {
  position: absolute;
  top: 26px;
  left: 150px;
  text-align: left;
  color:rgb(77, 75, 3);
  font-family: 'Bradley Hand','Brush Script MT', cursive;
  font-size: 46px;
  font-style: oblique;
}

nav {
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 3px solid #a79f86;
  background-color: #414040;
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

body {
  font-family: 'Bradley Hand','Brush Script MT', cursive;
  font-style: oblique;
}

Form {
  width: 600px;
  height: 50px;
  display: table; 
  margin-left: auto;
  margin-right: auto;
}
